*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 500px;
}

img:hover{
    animation-name: rotatePic;
    animation-duration: 2s;
}

@keyframes rotatePic{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

body{
    background-color: grey;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    padding: 1rem;
    background-image: linear-gradient(rgb(200, 200, 200), rgb(100, 100, 100));
    box-shadow: 0 0 2px 2px #000;
    transition: scale 0.2s;
}

card p{
    text-align: justify;
}

.card h3{
    font-variant: small-caps;
}

.card:hover{
    scale: 1.02;
}

.card p::first-letter{
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    color: hsl(200, 50%, 40%);
}

.card a{
    background-color: rgb(115, 29, 116);
    padding: 15px;
    background-color: black;
    text-decoration: none;
    max-width: 150px;
    text-align: center;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.card a:hover{
    background-color: blueviolet;
    transition-duration: .2s;
}

.card a:active{
    box-shadow: 2px 2px 10px #000;
    opacity: .5;
}